<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Liste des Réclamations</h1>
                <div class="text-center">
                  <h6>Consulter vos reclamations !</h6>
                </div>
            </div>
        </div>
    </div>
   <body>
          
          <div class="card-deck">
            <div class="card" *ngFor="let claim of listClaim">
            <div class="card-body">        
            <p class="card-title">{{ claim.subject }}</p>
            <p class="card-text">
                <i class="fas {{ claim.etat ? 'fa-check-circle text-success' : 'fa-times-circle text-danger' }}"></i>
            </p>
            <p class="card-text"><strong>Description:</strong>{{ claim.description }}</p>
            <p class="card-text"><strong>Date:</strong>{{ claim.creationDate }}</p>
            <p class="card-text"><strong>Réponse par l'admin:</strong>{{ claim.reponse }}</p>
              
         </div>
         </div>
         </div>
    </body>
  
      
       
    
</div>











