<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Liste des évènements</h1>
                <div class="text-center">
                  <h6>Participer a nos évènements !</h6>
                </div>
            </div>
        </div>
    </div>
   <body>
          
          <div class="card-deck">
            <div class="card" *ngFor="let event of listEvent">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <button class="btn btn-outline-primary mb-2 mr-5" (click)="votelike(event.eventId)">
                      <i class="fas fa-thumbs-up"></i>
                    </button>
                  
                    <button class="btn btn-outline-primary mb-2" (click)="votedislike(event.eventId)">
                      <i class="fas fa-thumbs-down"></i>
                    </button>
                  </div>
                  
                  
            <p class="card-title">{{ event.eventName }}</p>
            
            <p class="card-text"><strong>Description:</strong>{{ event.eventDescription }}</p>
            
                <p class="card-text"><strong>Amount:</strong>{{ event.eventPrice }}</p>
                <p class="card-text"><strong>Date:</strong>{{ event.eventDate }}</p>
                
                <p class="card-text"><strong>Capacity:</strong>{{ event.eventCapacity }}</p>
                <p class="card-text"><strong>type:</strong>{{ event.typeEvent }}</p>
                <button type="button" class="btn btn-primary btn-sm btn-block" (click)="participer(event.eventId)">
                    <i class="bi bi-check-circle"></i> Participer
                  </button>
                  <button type="button" class="btn btn-primary btn-sm btn-block" (click)="annulerparticiper(event.eventId)">
                    <i class="bi bi-x-circle"></i> Annuler participation
                  </button>
                  
            </div>
         </div>
         </div>
    </body>
  
      
       
    
</div>











