<div class="container">
    <h2>Transactions List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Transaction Amount</th>
          <th>Transaction Date</th>
          <th>Type of Transaction</th>
          <th>Asset Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.transactionAmount }}</td>
          <td>{{ transaction.transactionDate | date:'yyyy-MM-dd' }}</td>
          <td>{{ transaction.typeTransaction }}</td>
          <td>{{ transaction.assetName }}</td>
        </tr>
      </tbody>
    </table>
  </div>