
<!--Formulaire d'ajout d'évènements-->

<div class="header">
    <h4 class="title">Formulaire ajout des évènements</h4>  
</div>
<div class="content">
  
    <form #myForm="ngForm">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>Nom </label>
                    <input type="text" class="form-control" placeholder="Entrer le nom de l'évènement" name="eventName"   #eventName="ngModel"  [(ngModel)] = "Event.eventName">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="Entrer la description de l'évènement" name="eventDescription"   #eventDescription="ngModel"  [(ngModel)] = "Event.eventDescription" >
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Type de l'évènement </label>
                    <select id="input-last-name" class="form-control form-control-alternative" name="typeEvent" [(ngModel)]="Event.typeEvent" placeholder="Selectionner le type ..">
                    <option value="" disabled selected>Selectionner le type de l'évènement </option>
                    <option value="WORKSHOP">WORKSHOP</option>
                    <option value="PRIVATESESSION">PRIVATESESSION</option>
                    <option value="KEYNOTE">KEYNOTE</option>                 
                    </select>      
                 </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Prix de l'évènement </label>
                    <input type="text" class="form-control" placeholder="Entrer le prix de l'évènement" name="eventPrice"   #eventPrice="ngModel"  [(ngModel)] = "Event.eventPrice" >
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Date de l'évènement </label>
                    <input type="date" class="form-control" placeholder="Entrer la date de l'évènement" name="eventDate"   #eventDate="ngModel"  [(ngModel)] = "Event.eventDate" >
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>capacité de l'évènement </label>
                    <input type="text" class="form-control" placeholder="Entrer la capacité des participants a l'évènement" name="eventCapacity"   #eventCapacity="ngModel"  [(ngModel)] = "Event.eventCapacity" >
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" (click)="myForm.reset()">clear form</button>
        <button type="submit" class="btn btn-primary pull-right" (click) = "addEvent()">Ajouter</button>
        <br>
        <div class="clearfix"></div>
    </form>
</div>
      
<!--Affichage de la liste des évènements-->
<hr class="my-4 custom-hr" />
<div class="content table-responsive table-full-width">
 <div class="header pff">
     <h4 class="title ">Liste des évènements</h4>
 </div>
 <div class="form-group d-flex align-items-center">
    <select id="input-last-name" class="form-control form-control-alternative mr-2" name="type" [(ngModel)]="type" (ngModelChange)="searchEventByType()">
      <option value="" disabled selected>Selectionner le type de l'évènement</option>
      <option value="WORKSHOP">WORKSHOP</option>
      <option value="PRIVATESESSION">PRIVATESESSION</option>
      <option value="KEYNOTE">KEYNOTE</option>
    </select>
  </div>
  <input type="text" class="form-control" placeholder="Entrer le nom de l'évènement que vous souhaitez chercher" name="name"   [(ngModel)] = "name" >
  <button type="button" class="btn btn-primary" (click)="searchEventByName()">Rechercher</button>

 <table class="table table-hover table-striped">
       <thead>
           <tr>
             <th>Id</th>
             <th>Nom</th>
             <th>Prix</th>
             <th>Type</th>
             <th>Description</th>
             <th>Date</th>
             <th>Capacite</th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let i of listEvent">
             <td>{{i.eventId}}</td>
             <td>{{i.eventName}}</td>
             <td>{{i.eventPrice}}</td>
             <td>{{i.typeEvent}}</td>
             <td>{{i.eventDescription}}</td>
             <td>{{i.eventDate}}</td>
             <td>{{i.eventCapacity}}</td>
             <td>
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
              <i class="fas fa-trash-alt" (click)="deleteEvent(i.eventId)"></i>
            </td>
            
            <td>
              <i class="fas fa-edit" (click)="openupdate(contentt, i)"></i>
            </td>
            
            <td>
              <i class="fas fa-users" (click)="open(content, i.eventId)"></i>
            </td>  
                  </tr>
       </tbody>
 </table>
</div>
<div class="content table-responsive table-full-width">
    <div class="header pff">
        <h4 class="title ">Liste des évènements archivés</h4>
    </div>
    <button type="button" class="btn btn-primary" (click)="OrderByDate()">trier</button>

    <table class="table table-hover table-striped">
          <thead>
              <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Type</th>
                <th>Description</th>
                <th>Date</th>
                <th>Capacite</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let i of Archivelist">
                <td>{{i.eventId}}</td>
                <td>{{i.eventName}}</td>
                <td>{{i.eventPrice}}</td>
                <td>{{i.typeEvent}}</td>
                <td>{{i.eventDescription}}</td>
                <td>{{i.eventDate}}</td>
                <td>{{i.eventCapacity}}</td>
           </tr>
          </tbody>
    </table>
</div>

<h4 class="title ">International Economic Calendar</h4>
<iframe src="https://sslecal2.investing.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&features=datepicker,timezone&countries=25,32,6,37,72,22,17,39,14,10,35,43,56,36,110,11,26,12,4,5&calType=week&timeZone=8&lang=1" width="650" height="467" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe><div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 11px;color: #333333;text-decoration: none;">Real Time Economic Calendar provided by <a href="https://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a>.</span></div>
  <!-- Affichage de la liste des participants -->
  <ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Liste des participants</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>CIN</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="listPart.length>0; else pasdeparticiapnts">
                <tr *ngFor="let i of listPart">
                  <td>{{i.firstName}}</td>
                  <td>{{i.lastName}}</td>
                  <td>{{i.email}}</td>
                  <td>{{i.cin}}</td>
                </tr>
              </ng-container>     
            <ng-template #pasdeparticiapnts>
              Pas de participants 
          </ng-template>
            </tbody>
          </table>
	</div>
</ng-template>
 
  <!-- modification evenement -->
  <ng-template #contentt let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Modifier un évènement </h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="updateEvent()">
            <div class="form-group">
              <label for="nom">Nom de l'évènement :</label>
              <input type="text" #eventName [(ngModel)]="Eventupdate.eventName" name="eventName" id="eventName" class="form-control">
            </div>
            <div class="form-group">
              <label for="prix">Prix de l'évènement : </label>
              <input type="text" #eventPrice [(ngModel)]="Eventupdate.eventPrice" name="eventPrice" id="eventPrice"
                class="form-control">
            </div>
            <div class="form-group">
                <label for="type">Type de l'évènement :</label>
                <select id="input-last-name" class="form-control form-control-alternative" name="typeEvent" [(ngModel)]="Eventupdate.typeEvent" placeholder="Selectionner le type ..">
                  <option value="WORKSHOP">WORKSHOP</option>
                  <option value="PRIVATESESSION">PRIVATESESSION</option>
                  <option value="KEYNOTE">KEYNOTE</option>                 
                </select>     
              </div>
            <div class="form-group">
              <label for="date_fin">Date de l'évènement :</label>
              <input type="date" #eventDate [(ngModel)]="Eventupdate.eventDate" name="eventDate" id="eventDate"
                class="form-control" >
            </div>
            <div class="form-group">
              <label for="capacite">Capacite de l'évènement :</label>
              <input type="number" #eventCapacity [(ngModel)]="Eventupdate.eventCapacity" name="eventCapacity" id="eventCapacity"
                class="form-control" >
            </div>
            <div class="form-group">
              <label for="description">Description de l'évènement :</label>
              <input type="text" #eventDescription [(ngModel)]="Eventupdate.eventDescription" name="eventDescription" id="eventDescription"
                class="form-control" >
            </div>

            <div class="form-group">
              <input type="submit" value="Update" class="btn btn-primary" >
            </div>
</form>
	</div>
</ng-template>